.version.post /* version checker */
{
	color: #00001C;
	background-color: #B4C0E5;
}

@font-face
{
	font-family: '__pstlst_btn_5';
	src: url('../fonts/pstlst_btn.eot');
	src: local('☺'), url('../fonts/pstlst_btn.woff') format('woff'), url('../fonts/pstlst_btn.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-medium.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-medium.woff') format('woff'), url('../fonts/sourcehansanscn-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-normal.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-normal1.woff') format('woff'), url('../fonts/sourcehansanscn-normal.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

#page
{
	border-color: #000000;
	width: 100%;
	padding-bottom: 62px;
	margin-right: auto;
	min-height: 1238px;
	background-color: transparent;
	z-index: 1;
	margin-left: auto;
	border-width: 0px;
	background-image: none;
}

#ptop
{
	z-index: 2;
}

#u9951
{
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	width: 100%;
	background-color: #494949;
}

#u9953
{
	-webkit-transition-duration: 0.2s;
	opacity: 1;
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-timing-function: ease;
	position: relative;
	filter: alpha(opacity=100);
	background-color: transparent;
	border-radius: 64px;
	transition-duration: 0.2s;
	background-position: center center;
	background-size: contain;
}

#u9953:hover
{
	-webkit-transition-duration: 0.2s;
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	min-height: 0px;
	margin-bottom: 0px;
	border-radius: 64px 64px 64px 0px ;
	transition-duration: 0.2s;
	background-position: center center;
	background-size: contain;
}

#u9952-4
{
	line-height: 24px;
	color: #FFFFFF;
	min-height: 24px;
	position: relative;
	font-size: 20px;
	font-weight: 300;
	background-color: transparent;
	text-align: center;
	font-family: '__Source Han Sans CN_5';
}

#u8882
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	background-color: #FFFFFF;
}

#u8685
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center;
	background-size: contain;
}

.nosvg #u8685
{
	background-image: url('../images/strip_blk_poster_u10081.png?crc=4288764295');
}

#u10097
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/read_only.svg?crc=320890261") no-repeat center center;
	background-size: contain;
}

.nosvg #u10097
{
	background-image: url('../images/read_only_poster_u8352.png?crc=4003824141');
}

#u8884-4
{
	color: #000000;
	opacity: 0.5;
	position: relative;
	font-size: 14px;
	font-weight: 300;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	min-height: 17px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8885-14
{
	min-height: 359px;
	background-color: transparent;
	width: 100%;
	position: relative;
}

#u8885-13
{
	line-height: 30px;
	margin-left: 12px;
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
	margin-right: 12px;
	font-family: '__Source Han Sans CN_5';
}

#u8886
{
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	width: 100%;
	background-color: #848484;
}

#u8887-4
{
	line-height: 19px;
	color: #FAFAFA;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-family: '__Source Han Sans CN_5';
}

#u8888-4
{
	line-height: 19px;
	color: #FAFAFA;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	font-family: '__Source Han Sans CN_5';
}

#u10054
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	filter: alpha(opacity=100);
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	border-radius: 0px 0px 10px 10px ;
	margin-right: -10000px;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left top;
}

#u10055-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u10055-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u10057-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u10059-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u10059-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u10060-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u10055-5:hover,#u10057-5:hover,#u10059-5:hover,#u10060-5:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	min-height: 14px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u10055-5:hover p,#u10055-5:hover ul,#u10055-5:hover li,#u10057-5:hover p,#u10057-5:hover ul,#u10057-5:hover li,#u10059-5:hover p,#u10059-5:hover ul,#u10059-5:hover li,#u10060-5:hover p,#u10060-5:hover ul,#u10060-5:hover li
{
	color: #606060;
	visibility: inherit;
}

#u10060-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u8680-4
{
	line-height: 26px;
	position: relative;
	font-size: 22px;
	font-weight: 300;
	min-height: 26px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u10230
{
	-webkit-transition-duration: 0.3s;
	background-color: #FFB93A;
	position: relative;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u10230:hover
{
	-webkit-transition-duration: 0.3s;
	background-color: #28E1E1;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	min-height: 0px;
	transition-timing-function: ease-in-out;
	margin-bottom: 0px;
	transition-duration: 0.3s;
}

#u10057-3 > li:before,#u8681-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u10224
{
	-webkit-transition-duration: 0.3s;
	background-color: #28C8E1;
	position: relative;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u8681-5,#u8682-5
{
	line-height: 22px;
	color: #FFFFFF;
	-webkit-transition-duration: 0.2s;
	font-family: '__Source Han Sans CN_5';
	position: relative;
	font-size: 18px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	font-weight: 300;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u8682-5:hover
{
	padding-top: 0px;
	background-color: transparent;
	margin-left: 0%;
	min-height: 22px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-right: -10000px;
}

#u8682-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u10209
{
	-webkit-transition-duration: 0.2s;
	background-color: #7F7F7F;
	position: relative;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-radius: 10px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u10209:hover
{
	-webkit-transition-duration: 0.2s;
	background-color: #9B8484;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	min-height: 0px;
	transition-timing-function: ease;
	margin-bottom: 0px;
	margin-right: 0px;
	transition-duration: 0.2s;
}

#u8683-4
{
	-webkit-transition-duration: 0.2s;
	position: relative;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	width: 100%;
	transition-timing-function: ease;
	min-height: 31px;
	background-color: transparent;
	margin-right: -10000px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u8683-3
{
	line-height: 31px;
	color: #FFFFFF;
	margin-left: 30px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	margin-right: 30px;
	font-family: '__Source Han Sans CN_5';
}

#u8883-4,#u8699-4
{
	line-height: 29px;
	margin-top: 12px;
	position: relative;
	font-size: 24px;
	font-weight: 500;
	min-height: 29px;
	background-color: transparent;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u8710
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/beta_edi.svg?crc=3956733161") no-repeat left top;
	background-size: contain;
}

#u8701
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/pinn.jpg?crc=327430199") no-repeat center center;
	background-size: contain;
}

#u8703-4
{
	line-height: 18px;
	font-weight: 300;
	position: relative;
	font-size: 15px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8702-4
{
	color: #FFFFFF;
	min-height: 18px;
	text-align: center;
	position: relative;
	font-weight: 300;
	background-color: #A9217A;
	border-radius: 10px;
	font-family: '__Source Han Sans CN_5';
}

#u8704-5
{
	position: relative;
	font-weight: 300;
	min-height: 34px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8704-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8704
{
	line-height: 17px;
}

#u8704-2
{
	font-size: 15px;
	line-height: 18px;
}

#u8679,#u8698,#u8705
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	filter: alpha(opacity=100);
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left center;
}

#u8707-5
{
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	border-radius: 8px;
	border-width: 0px;
}

#u8707-4
{
	line-height: 18px;
	margin-left: 8px;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	margin-right: 8px;
	font-family: '__Source Han Sans CN_5';
}

#u8708-4
{
	line-height: 18px;
	text-align: center;
	border-width: 0px;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 8px;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u8711
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/beta_edi.svg?crc=3956733161") no-repeat left top;
	background-size: contain;
}

.nosvg #u8710,.nosvg #u8711
{
	background-image: url('../images/beta_edi_poster_u8719.png?crc=449012722');
}

#u9953 .fluid_height_spacer,#u10097 .fluid_height_spacer,#u8710 .fluid_height_spacer,#u8701 .fluid_height_spacer,#u8711 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u8709-4
{
	border-color: transparent;
	border-radius: 8px;
	position: relative;
	min-height: 57px;
	background-color: #FFFFFF;
	border-width: 0px;
}

#u8709-3
{
	line-height: 18px;
	margin-left: 8px;
	font-size: 15px;
	font-weight: 300;
	margin-right: 8px;
	font-family: '__Source Han Sans CN_5';
}

#u10221
{
	-webkit-transition-duration: 0.2s;
	background-color: #28C8E1;
	position: relative;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	border-radius: 10px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u10224:hover,#u10221:hover
{
	min-height: 0px;
	background-color: #FFD23A;
	margin-bottom: 0px;
}

#u8706-5
{
	-webkit-transition-duration: 0.2s;
	position: relative;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	margin-top: 17px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u8706-5:hover
{
	padding-top: 0px;
	min-height: 22px;
	padding-bottom: 0px;
	border-radius: 0px;
	margin: 17px -10000px 0px 0%;
}

#u8706-4
{
	line-height: 22px;
	color: #FFFFFF;
	margin-left: 2px;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	font-family: '__Source Han Sans CN_5';
}

#u8706-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

.html
{
	background-color: #F0F0F0;
}

#top,#review,body
{
	position: relative;
}

@media (min-width: 321px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1024px;
	}

	#pu9951
	{
		z-index: 89;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 40px;
		width: 29.89%;
		margin-left: 1.96%;
	}

	#u9951
	{
		z-index: 89;
		padding-top: 32px;
		padding-bottom: 35px;
	}

	#u9953
	{
		z-index: 94;
		background-image: url("../images/128back.png?crc=381481760");
		width: 41.84%;
		margin-left: 29.09%;
	}

	#u9953:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 41.84%;
		margin-left: 29.09%;
	}

	#u9952-4
	{
		z-index: 90;
		margin-top: 31px;
		width: 86.61%;
		margin-left: 6.54%;
	}

	#u9945
	{
		z-index: 77;
		background-color: #848484;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u9956-4
	{
		z-index: 95;
		min-height: 20px;
		background-color: transparent;
		line-height: 19px;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 22px;
		width: 86.61%;
		left: 6.87%;
	}

	#u9950
	{
		z-index: 88;
		height: 14px;
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(52,52,52,0.95)),color-stop(100%, #494949));
		background: -webkit-linear-gradient(top,rgba(52,52,52,0.95) ,#494949 100%);
		background: linear-gradient(to bottom,rgba(52,52,52,0.95) ,#494949 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2343434, endColorstr=#FF494949, GradientType=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2343434', endColorstr='#FF494949', GradientType=0)";
		position: relative;
		width: 100%;
	}

	#u9949
	{
		z-index: 87;
		background-color: #494949;
		padding-bottom: 1px;
		position: relative;
		width: 100%;
	}

	#u10197
	{
		z-index: 141;
		background-color: #343434;
		padding-bottom: 15px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 86.61%;
		left: 6.54%;
	}

	#u10197:hover
	{
		background-color: #3C3C3C;
		min-height: 0px;
		width: 86.61%;
		margin: 1px -10000px 0px 0%;
	}

	#u9954-4
	{
		z-index: 142;
		min-height: 20px;
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif?crc=4208392903");
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		width: 100%;
	}

	#u9954-3
	{
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		margin-left: 10px;
	}

	#u9955
	{
		z-index: 146;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		width: 10.57%;
		left: 89.44%;
		background: transparent url("../images/arrow_right.svg?crc=4197244498") no-repeat center center;
		background-size: contain;
	}

	#u9946
	{
		z-index: 78;
		background-color: #494949;
		border-radius: 0px 0px 10px 10px ;
		padding-top: 19px;
		padding-bottom: 17.449999999999818px;
		top: -1px;
		margin-bottom: -1px;
		position: relative;
		width: 100%;
	}

	#u9947-4
	{
		z-index: 79;
		min-height: 15px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		width: 86.61%;
		margin-left: 6.87%;
	}

	#u9948-4
	{
		z-index: 83;
		min-height: 15px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		margin-top: 9px;
		position: relative;
		width: 86.61%;
		margin-left: 6.87%;
	}

	#pu10191
	{
		z-index: 3;
		height: 0px;
		padding-bottom: 40px;
		margin-right: -10000px;
		margin-top: 546px;
		width: 9.97%;
	}

	#u10191
	{
		height: 40px;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif?crc=4208392903");
		background-color: #7F7F7F;
		border-radius: 10px;
		position: relative;
		left: -50%;
		margin-left: 51.00000000000001px;
		width: 100%;
		max-width: 102px;
	}

	#u10191:hover
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-color: #9B8484;
		height: 40px;
		min-height: 0px;
		width: 100%;
		max-width: 102px;
		margin: 0px 0px 0px 51px;
	}

	#u10191-wrapper
	{
		position: fixed;
		top: 546px;
		z-index: 3;
		left: 50%;
		margin-left: -390px;
		width: 9.97%;
		max-width: 102px;
	}

	#u10192
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		position: relative;
		left: -50%;
		margin-left: 10px;
		width: 100%;
		max-width: 20px;
		background: transparent url("../images/arrow_up.svg?crc=3778754956") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u10192
	{
		background-image: url('../images/arrow_up_poster_u10106.png?crc=18976162');
	}

	#u10192 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u10192-wrapper
	{
		position: fixed;
		top: 556px;
		z-index: 4;
		left: 50%;
		margin-left: -349px;
		width: 1.96%;
		max-width: 20px;
	}

	#ptop
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 62.9%;
		margin-left: 35.16%;
	}

	#top
	{
		margin-left: 21.9%;
	}

	#u8882
	{
		z-index: 5;
		margin-top: 22px;
		width: 100%;
	}

	#u8882_position_content
	{
		width: 100%;
	}

	#pu8685
	{
		z-index: 68;
		width: 97.37%;
		margin-left: 2.64%;
	}

	#u8685
	{
		z-index: 68;
		width: 9.57%;
		left: 87.72%;
	}

	#u8685 .fluid_height_spacer
	{
		padding-bottom: 50%;
	}

	#u8883-4
	{
		z-index: 69;
		width: 87.72%;
	}

	#u8884-4
	{
		z-index: 73;
		margin-right: -10000px;
		margin-top: 52px;
		width: 97.29%;
	}

	#u10097
	{
		z-index: 140;
		width: 11.01%;
		left: 89%;
	}

	#u8885-14
	{
		z-index: 54;
		margin-top: 10px;
	}

	#u8886
	{
		z-index: 45;
		padding-bottom: 8px;
		margin-top: 17px;
	}

	#u8887-4
	{
		z-index: 46;
		margin-right: -10000px;
		margin-top: 9px;
		width: 70.66%;
		left: 2.64%;
	}

	#u8888-4
	{
		z-index: 50;
		margin-right: -10000px;
		margin-top: 9px;
		width: 23.14%;
		left: 74.23%;
	}

	#pu10054
	{
		z-index: 99;
		width: 100%;
	}

	#u10054
	{
		z-index: 99;
	}

	#u10054 .fluid_height_spacer
	{
		padding-bottom: 7.608695652173914%;
	}

	#u10055-5
	{
		z-index: 100;
		margin-top: 26px;
		width: 22.99%;
		left: 2.64%;
	}

	#u10055-5:hover
	{
		margin-top: 26px;
		width: 22.99%;
	}

	#u10056-5
	{
		z-index: 105;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 6px;
		width: 22.99%;
		left: 50.47%;
	}

	#u10056-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 14px;
		width: 22.99%;
		margin: 6px -10000px 0px 0%;
	}

	#u10056-3 > li:before
	{
		content: '';
		font-family: '__pstlst_btn_5';
		font-weight: 400;
	}

	#u10057-5
	{
		z-index: 110;
		margin-top: 6px;
		width: 22.99%;
		left: 74.38%;
	}

	#u10058-5
	{
		z-index: 115;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 26.56%;
	}

	#u10059-5
	{
		z-index: 120;
		margin-top: 6px;
		width: 22.99%;
		left: 2.64%;
	}

	#u10060-5
	{
		z-index: 125;
		margin-top: 6px;
		width: 22.99%;
		left: 26.56%;
	}

	#u10057-5:hover,#u10059-5:hover,#u10060-5:hover
	{
		margin-top: 6px;
		width: 22.99%;
	}

	#u10061-5
	{
		z-index: 130;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 50.47%;
	}

	#u10062-5
	{
		z-index: 135;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 74.38%;
	}

	#u10058-5:hover,#u10061-5:hover,#u10062-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 14px;
		width: 22.99%;
		margin: 26px -10000px 0px 0%;
	}

	#u10056-5:hover p,#u10056-5:hover ul,#u10056-5:hover li,#u10058-5:hover p,#u10058-5:hover ul,#u10058-5:hover li,#u10061-5:hover p,#u10061-5:hover ul,#u10061-5:hover li,#u10062-5:hover p,#u10062-5:hover ul,#u10062-5:hover li
	{
		color: #606060;
		visibility: inherit;
	}

	#u10058-3 > li:before,#u10061-3 > li:before,#u10062-3 > li:before
	{
		content: '';
		font-family: '__pstlst_btn_5';
		font-weight: 400;
	}

	#u8679
	{
		z-index: 6;
		padding-top: 21px;
		padding-bottom: 17.050000000000068px;
		margin-top: 12px;
		width: 100%;
	}

	#pu8680-4
	{
		z-index: 7;
		width: 94.73%;
		margin-left: 2.64%;
	}

	#u8680-4
	{
		z-index: 7;
		margin-right: -10000px;
		width: 100%;
	}

	#u10224
	{
		z-index: 161;
		padding-bottom: 2px;
		margin-right: -10000px;
		width: 26.23%;
		left: 73.78%;
	}

	#u8682-5
	{
		z-index: 168;
		margin-top: 2px;
		width: 93.75%;
		left: 3.13%;
	}

	#u8682-5:hover
	{
		margin-top: 2px;
		width: 93.75%;
	}

	#u10230
	{
		z-index: 162;
		padding-bottom: 2px;
		margin-right: -10000px;
		width: 26.23%;
		left: 44.76%;
	}

	#u10224:hover,#u10230:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 26.23%;
		margin-left: 0%;
	}

	#u8681-5
	{
		z-index: 163;
		margin-top: 2px;
		width: 93.75%;
		left: 3.13%;
	}

	#u10209
	{
		z-index: 147;
		padding-bottom: 17px;
		margin-top: 17px;
		width: 94.73%;
		margin-left: 2.64%;
	}

	#u10209:hover
	{
		margin-top: 17px;
		width: 94.73%;
		margin-left: 2.64%;
	}

	#u8683-4
	{
		z-index: 148;
		margin-top: 17px;
	}

	#u8684
	{
		z-index: 152;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		position: relative;
		margin-right: -10000px;
		margin-top: 22px;
		width: 4.6%;
		left: 95.41%;
		background: transparent url("../images/arrow_right.svg?crc=4197244498") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u9955,.nosvg #u8684
	{
		background-image: url('../images/arrow_right_poster_u10121.png?crc=4142778936');
	}

	#u9955 .fluid_height_spacer,#u8684 .fluid_height_spacer
	{
		padding-bottom: 71.42857142857143%;
	}

	#u8698
	{
		z-index: 11;
		padding-bottom: 12px;
		margin-top: 11px;
		width: 100%;
	}

	#u8699-4
	{
		z-index: 12;
		width: 94.73%;
		left: 2.64%;
	}

	#u8701
	{
		z-index: 16;
		margin-top: 47px;
		width: 9.01%;
		left: 2.64%;
	}

	#u8703-4
	{
		z-index: 17;
		min-height: 18px;
		margin-right: -10000px;
		margin-top: 47px;
		width: 78.11%;
		left: 19.1%;
	}

	#u8702-4
	{
		z-index: 21;
		margin-right: -10000px;
		margin-top: 47px;
		width: 5.13%;
		left: 13.05%;
	}

	#u8704-5
	{
		z-index: 25;
		margin-right: -10000px;
		margin-top: 71px;
		width: 84.32%;
		left: 13.05%;
	}

	#u8710
	{
		z-index: 159;
		width: 10.72%;
		left: 89.29%;
	}

	#u8705
	{
		z-index: 30;
		padding-bottom: 12px;
		margin-top: 12px;
		width: 100%;
	}

	#preview
	{
		z-index: 44;
		margin-right: -10000px;
		width: 78.89%;
	}

	#u8707-5
	{
		z-index: 31;
		min-height: 18px;
		top: -6px;
		margin-bottom: -6px;
		width: 96.66%;
		margin-left: 3.35%;
	}

	#u8709-4
	{
		z-index: 40;
		margin-top: 12px;
		width: 96.66%;
		margin-left: 3.35%;
	}

	#pu8708-4
	{
		z-index: 36;
		margin-right: -10000px;
		width: 19.1%;
		margin-left: 80.91%;
	}

	#u8708-4
	{
		z-index: 36;
		min-height: 18px;
		margin-top: 12px;
		width: 86.18%;
	}

	#u10221
	{
		z-index: 153;
		padding-bottom: 18px;
		margin-right: -10000px;
		margin-top: 42px;
		width: 86.18%;
	}

	#u10221:hover
	{
		margin-right: -10000px;
		margin-top: 42px;
		width: 86.18%;
		margin-left: 0%;
	}

	#u8706-5
	{
		z-index: 154;
		width: 79.25%;
		left: 10.38%;
	}

	#u8706-5:hover
	{
		width: 79.25%;
	}

	#u8711
	{
		z-index: 160;
		width: 56.1%;
		left: 43.91%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1299px);
	}

}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#ptop
	{
		width: 95%;
		margin-left: 2.5%;
	}

	#top
	{
		margin-right: -10000px;
		width: 22px;
		left: 49.02%;
	}

	#u9951
	{
		z-index: 75;
		margin-right: -10000px;
		margin-top: 8px;
	}

	#u9953
	{
		z-index: 80;
		background-image: url("../images/128back-u8304-fr.png?crc=4254805000");
		margin-right: -10000px;
		margin-top: 20px;
		width: 25.66%;
		left: 3.95%;
	}

	#u9953:hover
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 25.66%;
		margin-left: 0%;
	}

	#u9952-4
	{
		z-index: 76;
		margin-right: -10000px;
		margin-top: 20px;
		width: 55.93%;
		left: 35.53%;
	}

	#u11067
	{
		z-index: 128;
		height: 20px;
		background-color: #494949;
		border-radius: 0px 0px 10px 10px ;
		position: relative;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8882
	{
		z-index: 3;
		padding-bottom: 1px;
		margin-top: 10px;
		width: 95%;
		margin-left: 2.5%;
	}

	#pu8685
	{
		z-index: 66;
		width: 97.7%;
		margin-left: 2.31%;
	}

	#u8685
	{
		z-index: 66;
		width: 18.19%;
		left: 81.82%;
	}

	#u8685 .fluid_height_spacer
	{
		padding-bottom: 35.18518518518518%;
	}

	#u8883-4
	{
		z-index: 67;
		width: 87.55%;
	}

	#u10097
	{
		z-index: 102;
		width: 18.19%;
		left: 81.82%;
	}

	#u8884-4
	{
		z-index: 71;
		top: -3px;
		margin-bottom: -3px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8885-14
	{
		z-index: 52;
		margin-top: 11px;
	}

	#u8886
	{
		z-index: 43;
		padding-top: 9px;
		padding-bottom: 7.249999999999545px;
		margin-top: 59px;
	}

	#u8887-4
	{
		z-index: 44;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8888-4
	{
		z-index: 48;
		margin-top: 7px;
		width: 49.35%;
		margin-left: 25.33%;
	}

	#pu10054
	{
		z-index: 81;
		width: 95%;
		margin-left: 2.5%;
	}

	#u10054
	{
		z-index: 81;
	}

	#u10054 .fluid_height_spacer
	{
		padding-bottom: 13.486842105263158%;
	}

	#u10055-5
	{
		z-index: 82;
		margin-top: 21px;
		width: 42.77%;
		left: 2.31%;
	}

	#u10057-5
	{
		z-index: 87;
		margin-top: 21px;
		width: 42.77%;
		left: 54.94%;
	}

	#u10055-5:hover,#u10057-5:hover
	{
		margin-top: 21px;
		width: 42.77%;
	}

	#u10059-5
	{
		z-index: 92;
		margin-top: 5px;
		width: 42.77%;
		left: 2.31%;
	}

	#u10060-5
	{
		z-index: 97;
		margin-top: 5px;
		width: 42.77%;
		left: 54.94%;
	}

	#u10059-5:hover,#u10060-5:hover
	{
		margin-top: 5px;
		width: 42.77%;
	}

	#u8679
	{
		z-index: 4;
		padding-top: 8px;
		padding-bottom: 7.275000000001683px;
		margin-top: 15px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8680-4
	{
		z-index: 5;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u10230
	{
		z-index: 117;
		padding-bottom: 7px;
		margin-top: 5px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8681-5
	{
		z-index: 118;
		margin-top: 6px;
		width: 49.66%;
		left: 25.18%;
	}

	#u10224
	{
		z-index: 116;
		padding-bottom: 7px;
		margin-top: 5px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u10230:hover,#u10224:hover
	{
		margin-right: 0px;
		margin-top: 5px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8682-5
	{
		z-index: 123;
		margin-top: 6px;
		width: 49.66%;
		left: 25.18%;
	}

	#u8682-5:hover
	{
		margin-top: 6px;
		width: 49.66%;
	}

	#u10209
	{
		z-index: 103;
		padding-bottom: 12px;
		margin-top: 4px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u10209:hover
	{
		margin-top: 4px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8683-4
	{
		z-index: 104;
		margin-top: 13px;
	}

	#u8698
	{
		z-index: 9;
		padding-bottom: 7px;
		margin-top: 16px;
		width: 95%;
		margin-left: 2.5%;
	}

	#pu8699-4
	{
		z-index: 10;
		width: 97.7%;
		margin-left: 2.31%;
	}

	#u8699-4
	{
		z-index: 10;
		width: 97.65%;
	}

	#u8710
	{
		z-index: 114;
		width: 18.19%;
		left: 81.82%;
	}

	#pu8701
	{
		z-index: 14;
		margin-top: -7px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8701
	{
		z-index: 14;
		width: 20.69%;
	}

	#pu8703-4
	{
		z-index: 15;
		margin-right: -10000px;
		width: 77.25%;
		margin-left: 22.76%;
	}

	#u8703-4
	{
		z-index: 15;
		min-height: 37px;
		width: 100%;
	}

	#u8702-4
	{
		z-index: 19;
		margin-top: 5px;
		width: 18.75%;
		margin-left: 81.25%;
	}

	#u8704-5
	{
		z-index: 23;
		margin-top: 6px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8705
	{
		z-index: 28;
		margin-top: 17px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8705_position_content
	{
		padding-bottom: 7px;
		width: 100%;
	}

	#pu8707-5
	{
		z-index: 29;
		width: 100%;
	}

	#u8707-5
	{
		z-index: 29;
		min-height: 20px;
		margin-right: -10000px;
		margin-top: 12px;
		width: 95.4%;
		left: 2.31%;
	}

	#u8708-4
	{
		z-index: 34;
		min-height: 20px;
		margin-top: 37px;
		width: 95.4%;
		left: 2.31%;
	}

	#review
	{
		margin-right: -10000px;
		width: 22px;
	}

	#u8711
	{
		z-index: 115;
		width: 17.77%;
		left: 82.24%;
	}

	#u8709-4
	{
		z-index: 38;
		margin-top: 5px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u10221
	{
		z-index: 108;
		padding-bottom: 17px;
		margin-top: 6px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u10221:hover
	{
		margin-right: 0px;
		margin-top: 6px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8706-5
	{
		z-index: 109;
		width: 26.9%;
		left: 36.56%;
	}

	#u8706-5:hover
	{
		width: 26.9%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1616px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

