/*

*/

.version.index /* version checker */
{
	color: #00000B;
	background-color: #5834FC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1238px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#pu8302
{
	z-index: 56;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	width: 29.89%;
	margin-left: 1.96%;
}

#u8302
{
	z-index: 56;
	background-color: #494949;
	border-radius: 10px 10px 0px 0px ;
	padding-top: 32px;
	padding-bottom: 35px;
	position: relative;
	width: 100%;
}

#u8304
{
	z-index: 61;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 64px;
	position: relative;
	width: 41.84%;
	margin-left: 29.09%;
	background: transparent url("../images/128back.png?crc=381481760") no-repeat center center;
}

#u8304:hover
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 0px;
	width: 41.84%;
	margin: 0px 0px 0px 29.08496732026144%;
	background-size: 128px 128px;
}

#u8304 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u8297-4
{
	z-index: 57;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 31px;
	position: relative;
	width: 86.61%;
	margin-left: 6.54%;
}

#u9859
{
	z-index: 2;
	background-color: #848484;
	padding-bottom: 22px;
	position: relative;
	width: 100%;
}

#u9862-4
{
	z-index: 96;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 86.61%;
	left: 6.87%;
}

#u8295
{
	z-index: 55;
	height: 14px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(52,52,52,0.95)),color-stop(100%, #494949));
	background: -webkit-linear-gradient(top,rgba(52,52,52,0.95) ,#494949 100%);
	background: linear-gradient(to bottom,rgba(52,52,52,0.95) ,#494949 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2343434, endColorstr=#FF494949, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2343434', endColorstr='#FF494949', GradientType=0)";
	position: relative;
	width: 100%;
}

#u8305
{
	z-index: 54;
	background-color: #494949;
	padding-bottom: 1px;
	position: relative;
	width: 100%;
}

#u8298-4
{
	z-index: 62;
	min-height: 35px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #343434;
	padding-top: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 86.61%;
	left: 6.87%;
}

#u8298-4:hover
{
	background-color: #3C3C3C;
	padding-top: 15px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 86.61%;
	margin: 1px -10000px 0px 0%;
}

#u8298-3
{
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 10px;
}

#u8276
{
	z-index: 66;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 9.16%;
	left: 83.99%;
	background: transparent url("../images/menu_arrow.svg?crc=3857910930") no-repeat center center;
	background-size: contain;
}

#u8300
{
	z-index: 45;
	background-color: #494949;
	border-radius: 0px 0px 10px 10px ;
	padding-top: 19px;
	padding-bottom: 17.449999999999932px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u8288-4
{
	z-index: 46;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	width: 86.61%;
	margin-left: 6.87%;
}

#u8277-4
{
	z-index: 50;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 9px;
	position: relative;
	width: 86.61%;
	margin-left: 6.87%;
}

#ptop
{
	z-index: 84;
	margin-right: -10000px;
	width: 64.85%;
	margin-left: 35.16%;
}

#top
{
	position: relative;
	margin-left: 96.69%;
}

#pu8280
{
	z-index: 3;
	margin-top: 44px;
	width: 96.99%;
}

#u8280
{
	z-index: 3;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	background: #848484 url("../images/pstlst_topcover.jpg?crc=4279219815") repeat left top;
}

#u8280 .fluid_height_spacer
{
	padding-bottom: 38.81987577639752%;
}

#u9269
{
	z-index: 95;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 9.32%;
	left: 88.05%;
	background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center;
	background-size: contain;
}

#u8301
{
	z-index: 67;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	padding-bottom: 16px;
	position: relative;
	width: 96.99%;
}

#u8285-4
{
	z-index: 68;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 75.63%;
	left: 2.64%;
}

#u8285-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 75.63%;
	margin: 19px -10000px 0px 0%;
}

#pu8274-5
{
	z-index: 72;
	margin-right: -10000px;
	margin-top: 13px;
	width: 18.33%;
	margin-left: 78.27%;
}

#u8274-5
{
	z-index: 72;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u8274-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u8281-5
{
	z-index: 77;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u8281-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 100%;
	margin: 7px 0px 0px 0%;
}

#u8284
{
	z-index: 85;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 12.494742729303368px;
	margin-top: 13px;
	position: relative;
	width: 96.99%;
}

#pu8278-4
{
	z-index: 86;
	width: 94.73%;
	margin-left: 2.64%;
}

#u8278-4
{
	z-index: 86;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 90.17%;
}

#u8278-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90.17%;
	margin: 14px -10000px 0px 0%;
}

#u8285-4:hover p,#u8278-4:hover p
{
	color: #3C5AFF;
	visibility: inherit;
}

#u9244
{
	z-index: 94;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 9.84%;
	left: 90.17%;
	/* background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center; */
	background-size: contain;
}

.nosvg #u9269,.nosvg #u9244
{
	background-image: url('../images/strip_blk_poster_u10081.png?crc=4288764295');
}

#u9269 .fluid_height_spacer,#u9244 .fluid_height_spacer
{
	padding-bottom: 50%;
}

#u8287-4
{
	z-index: 90;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	font-size: 14px;
	color: #000000;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 7px;
	position: relative;
	width: 94.73%;
	margin-left: 2.64%;
}

#pu8294
{
	z-index: 4;
	width: 96.99%;
}

#u8294
{
	z-index: 4;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left top;
}

#u8294 .fluid_height_spacer
{
	padding-bottom: 7.608695652173914%;
}

#u8283-5
{
	z-index: 5;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 2.64%;
}

#u8283-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8279-5
{
	z-index: 10;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 50.47%;
}

#u8281-3 > li:before,#u8279-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8293-5
{
	z-index: 15;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 74.38%;
}

#u8293-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8299-5
{
	z-index: 20;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 26.56%;
}

#u8286-5
{
	z-index: 25;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 2.64%;
}

#u8286-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8292-5
{
	z-index: 30;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 26.56%;
}

#u8279-5:hover,#u8293-5:hover,#u8286-5:hover,#u8292-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 22.99%;
	margin: 6px -10000px 0px 0%;
}

#u8292-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8308-5
{
	z-index: 35;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 50.47%;
}

#u8296-5
{
	z-index: 40;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 74.38%;
}

#u8283-5:hover,#u8299-5:hover,#u8308-5:hover,#u8296-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 22.99%;
	margin: 26px -10000px 0px 0%;
}

#u8274-5:hover p,#u8274-5:hover ul,#u8274-5:hover li,#u8281-5:hover p,#u8281-5:hover ul,#u8281-5:hover li,#u8283-5:hover p,#u8283-5:hover ul,#u8283-5:hover li,#u8279-5:hover p,#u8279-5:hover ul,#u8279-5:hover li,#u8293-5:hover p,#u8293-5:hover ul,#u8293-5:hover li,#u8299-5:hover p,#u8299-5:hover ul,#u8299-5:hover li,#u8286-5:hover p,#u8286-5:hover ul,#u8286-5:hover li,#u8292-5:hover p,#u8292-5:hover ul,#u8292-5:hover li,#u8308-5:hover p,#u8308-5:hover ul,#u8308-5:hover li,#u8296-5:hover p,#u8296-5:hover ul,#u8296-5:hover li
{
	color: #606060;
	visibility: inherit;
}

#u8274-3 > li:before,#u8299-3 > li:before,#u8308-3 > li:before,#u8296-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#pu8290
{
	z-index: 82;
	height: 0px;
	padding-bottom: 40px;
	margin-right: -10000px;
	margin-top: 1176px;
	width: 3.91%;
}

#u8290
{
	z-index: 82;
	height: 40px;
	background-color: #848484;
	border-radius: 10px;
	position: fixed;
	bottom: 84px;
	right: 108px;
	width: 3.91%;
	max-width: 40px;
}

#u8291
{
	z-index: 83;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-webkit-transform: matrix(0,-1,1,0,12,16);
	-ms-transform: matrix(0,-1,1,0,12,16);
	transform: matrix(0,-1,1,0,12,16);
	position: fixed;
	bottom: 86px;
	right: 122px;
	width: 2.74%;
	max-width: 28px;
	background: transparent url("../images/menu_arrow.svg?crc=3857910930") no-repeat center center;
	background-size: contain;
}

.nosvg #u8276,.nosvg #u8291
{
	background-image: url('../images/menu_arrow_poster_u10089.png?crc=4142778936');
}

#u8276 .fluid_height_spacer,#u8291 .fluid_height_spacer
{
	padding-bottom: 71.42857142857143%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1999px);
}

.html
{
	background-color: #F0F0F0;
}

body
{
	position: relative;
	min-width: 1000px;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-medium.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-medium.woff') format('woff'), url('../fonts/sourcehansanscn-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__pstlst_btn_5';
	src: url('../fonts/pstlst_btn.eot');
	src: local('☺'), url('../fonts/pstlst_btn.woff') format('woff'), url('../fonts/pstlst_btn.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-normal.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-normal1.woff') format('woff'), url('../fonts/sourcehansanscn-normal.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

