<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
<!--ProjectGuid: e66db5e0-ad8b-4c2d-9da1-0bd50fb37770-->