.version.index /* version checker */
{
	color: #000008;
	background-color: #9AF79B;
}

@font-face
{
	font-family: '__pstlst_btn_5';
	src: url('../fonts/pstlst_btn.eot');
	src: local('☺'), url('../fonts/pstlst_btn.woff') format('woff'), url('../fonts/pstlst_btn.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-medium.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-medium.woff') format('woff'), url('../fonts/sourcehansanscn-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-normal.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-normal1.woff') format('woff'), url('../fonts/sourcehansanscn-normal.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

#page
{
	border-color: #000000;
	width: 100%;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
	margin-left: auto;
	border-width: 0px;
	background-image: none;
}

#ptop
{
	z-index: 2;
}

#u8302
{
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	width: 100%;
	background-color: #494949;
}

#u8304
{
	-webkit-transition-duration: 0.2s;
	opacity: 1;
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-timing-function: ease;
	position: relative;
	filter: alpha(opacity=100);
	background-color: transparent;
	border-radius: 64px;
	transition-duration: 0.2s;
	background-position: center center;
	background-size: contain;
}

#u8304:hover
{
	-webkit-transition-duration: 0.2s;
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	min-height: 0px;
	margin-bottom: 0px;
	transition-duration: 0.2s;
	background-position: center center;
	background-size: contain;
}

#u8297-4
{
	line-height: 24px;
	color: #FFFFFF;
	min-height: 24px;
	position: relative;
	font-size: 20px;
	font-weight: 300;
	background-color: transparent;
	text-align: center;
	font-family: '__Source Han Sans CN_5';
}

#u8280
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	background-position: center center;
	filter: alpha(opacity=100);
	position: relative;
	background-repeat: no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	background-color: #848484;
	border-radius: 10px 10px 0px 0px ;
	margin-right: -10000px;
	background-size: contain;
}

#u9269
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center;
	background-size: contain;
}

#u8301
{
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
}

#u8285-4
{
	line-height: 29px;
	min-height: 29px;
	font-weight: 500;
	position: relative;
	font-size: 24px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8274-5
{
	line-height: 14px;
	color: #999999;
	text-align: left;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8274-5:hover
{
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	min-height: 14px;
	padding-bottom: 0px;
}

#u8281-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	font-family: '__Source Han Sans CN_5';
}

#u8281-5:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	min-height: 14px;
	padding-bottom: 0px;
}

#u8281-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u8284
{
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
}

#u8278-4
{
	line-height: 29px;
	position: relative;
	font-size: 24px;
	font-weight: 500;
	min-height: 29px;
	background-color: transparent;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u9244
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center;
	background-size: contain;
}

.nosvg #u9269,.nosvg #u9244
{
	background-image: url('../images/strip_blk_poster_u10081.png?crc=4288764295');
}

#u8287-4
{
	color: #000000;
	opacity: 0.5;
	position: relative;
	font-size: 14px;
	font-weight: 300;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	min-height: 17px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
}

#u8294
{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	filter: alpha(opacity=100);
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	border-radius: 0px 0px 10px 10px ;
	margin-right: -10000px;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left top;
}

#u8283-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u8283-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u8293-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u8293-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u8286-5
{
	text-align: left;
	position: relative;
	min-height: 14px;
	background-color: transparent;
	margin-right: -10000px;
}

#u8286-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u8286-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8286-3 > #u8286-2:before
{
	font-size: 12px;
	color: #999999;
	line-height: 1.2;
}

#u8286
{
	line-height: 14px;
}

#u8292-5
{
	line-height: 14px;
	color: #999999;
	position: relative;
	font-size: 12px;
	font-weight: 300;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Source Han Sans CN_5';
}

#u8283-5:hover,#u8293-5:hover,#u8286-5:hover,#u8292-5:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	min-height: 14px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u8274-5:hover p,#u8274-5:hover ul,#u8274-5:hover li,#u8281-5:hover p,#u8281-5:hover ul,#u8281-5:hover li,#u8283-5:hover p,#u8283-5:hover ul,#u8283-5:hover li,#u8293-5:hover p,#u8293-5:hover ul,#u8293-5:hover li,#u8286-5:hover p,#u8286-5:hover ul,#u8286-5:hover li,#u8286-5:hover span,#u8292-5:hover p,#u8292-5:hover ul,#u8292-5:hover li
{
	color: #606060;
	visibility: inherit;
}

#u8274-3 > li:before,#u8292-3 > li:before
{
	font-weight: 400;
	content: '';
	font-family: '__pstlst_btn_5';
}

#u10188
{
	-webkit-transition-duration: 0.2s;
	background-color: #7F7F7F;
	position: relative;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-radius: 10px;
	transition-duration: 0.2s;
	background-image: url("../images/blank.gif?crc=4208392903");
}

#u10188:hover
{
	min-height: 0px;
	background-color: #9B8484;
	margin-bottom: 0px;
	margin-right: 0px;
}

#u10165
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	background: transparent url("../images/arrow_down.svg?crc=3806826918") no-repeat center center;
	background-size: contain;
}

.nosvg #u10165
{
	background-image: url('../images/arrow_down_poster_u10168.png?crc=4081056735');
}

#u8304 .fluid_height_spacer,#u10165 .fluid_height_spacer
{
	padding-bottom: 100%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1299px);
}

.html
{
	background-color: #F0F0F0;
}

#top,body
{
	position: relative;
}

@media (min-width: 321px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1238px;
		padding-bottom: 62px;
		max-width: 1024px;
	}

	#pu8302
	{
		z-index: 61;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 40px;
		width: 29.89%;
		margin-left: 1.96%;
	}

	#u8302
	{
		z-index: 61;
		padding-top: 32px;
		padding-bottom: 35px;
	}

	#u8304
	{
		z-index: 66;
		background-image: url("../images/128back.png?crc=381481760");
		width: 41.84%;
		margin-left: 29.09%;
	}

	#u8304:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 41.84%;
		margin-left: 29.09%;
	}

	#u8297-4
	{
		z-index: 62;
		margin-top: 31px;
		width: 86.61%;
		margin-left: 6.54%;
	}

	#u9859
	{
		z-index: 7;
		background-color: #848484;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u9862-4
	{
		z-index: 93;
		min-height: 20px;
		background-color: transparent;
		line-height: 19px;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 22px;
		width: 86.61%;
		left: 6.87%;
	}

	#u8295
	{
		z-index: 60;
		height: 14px;
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(52,52,52,0.95)),color-stop(100%, #494949));
		background: -webkit-linear-gradient(top,rgba(52,52,52,0.95) ,#494949 100%);
		background: linear-gradient(to bottom,rgba(52,52,52,0.95) ,#494949 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2343434, endColorstr=#FF494949, GradientType=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2343434', endColorstr='#FF494949', GradientType=0)";
		position: relative;
		width: 100%;
	}

	#u8305
	{
		z-index: 59;
		background-color: #494949;
		padding-bottom: 1px;
		position: relative;
		width: 100%;
	}

	#u10200
	{
		z-index: 97;
		background-color: #343434;
		padding-bottom: 15px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 86.61%;
		left: 6.54%;
	}

	#u10200:hover
	{
		background-color: #3C3C3C;
		min-height: 0px;
		width: 86.61%;
		margin: 1px -10000px 0px 0%;
	}

	#u10201-4
	{
		z-index: 98;
		min-height: 20px;
		-webkit-transition-duration: 0.1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif?crc=4208392903");
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		width: 100%;
	}

	#u10201-3
	{
		line-height: 19px;
		font-size: 16px;
		text-align: left;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		margin-left: 10px;
	}

	#u10202
	{
		z-index: 102;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		width: 10.57%;
		left: 89.44%;
		background: transparent url("../images/arrow_right.svg?crc=4197244498") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u10202
	{
		background-image: url('../images/arrow_right_poster_u10121.png?crc=4142778936');
	}

	#u10202 .fluid_height_spacer
	{
		padding-bottom: 71.42857142857143%;
	}

	#u8300
	{
		z-index: 50;
		background-color: #494949;
		border-radius: 0px 0px 10px 10px ;
		padding-top: 19px;
		padding-bottom: 17.449999999999932px;
		top: -1px;
		margin-bottom: -1px;
		position: relative;
		width: 100%;
	}

	#u8288-4
	{
		z-index: 51;
		min-height: 15px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		width: 86.61%;
		margin-left: 6.87%;
	}

	#u8277-4
	{
		z-index: 55;
		min-height: 15px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: center;
		color: #FFFFFF;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		margin-top: 9px;
		position: relative;
		width: 86.61%;
		margin-left: 6.87%;
	}

	#pu8290
	{
		z-index: 3;
		height: 0px;
		padding-bottom: 40px;
		margin-right: -10000px;
		margin-top: 546px;
		width: 9.97%;
	}

	#u8290
	{
		height: 40px;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif?crc=4208392903");
		background-color: #7F7F7F;
		border-radius: 10px;
		position: relative;
		left: -50%;
		margin-left: 51px;
		width: 100%;
		max-width: 102px;
	}

	#u8290:hover
	{
		background-color: #9B8484;
		height: 40px;
		min-height: 0px;
		width: 100%;
		max-width: 102px;
		margin: 0px 0px 0px 51px;
	}

	#u8290-wrapper
	{
		position: fixed;
		top: 546px;
		z-index: 3;
		left: 50%;
		margin-left: -390px;
		width: 9.97%;
		max-width: 102px;
	}

	#u10103
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		position: relative;
		left: -50%;
		margin-left: 10px;
		width: 100%;
		max-width: 20px;
		background: transparent url("../images/arrow_up.svg?crc=3778754956") no-repeat center center;
		background-size: contain;
	}

	.nosvg #u10103
	{
		background-image: url('../images/arrow_up_poster_u10106.png?crc=18976162');
	}

	#u10103 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u10103-wrapper
	{
		position: fixed;
		top: 556px;
		z-index: 4;
		left: 50%;
		margin-left: -349px;
		width: 1.96%;
		max-width: 20px;
	}

	#ptop
	{
		margin-right: -10000px;
		width: 62.9%;
		margin-left: 35.16%;
	}

	#top
	{
		margin-left: 21.9%;
	}

	#pu8280
	{
		z-index: 8;
		margin-top: 22px;
		width: 100%;
	}

	#u8280
	{
		z-index: 8;
		background-image: url("../images/pstlst_topcover.jpg?crc=4279219815");
	}

	#u8280 .fluid_height_spacer
	{
		padding-bottom: 38.81987577639752%;
	}

	#u9269
	{
		z-index: 92;
		width: 9.32%;
		left: 88.05%;
	}

	#u8301
	{
		z-index: 67;
		padding-bottom: 16px;
		width: 100%;
	}

	#u8285-4
	{
		z-index: 68;
		margin-right: -10000px;
		margin-top: 19px;
		width: 75.63%;
		left: 2.64%;
	}

	#pu8274-5
	{
		z-index: 72;
		margin-right: -10000px;
		margin-top: 13px;
		width: 19.1%;
		margin-left: 78.27%;
	}

	#u8274-5
	{
		z-index: 72;
		width: 100%;
	}

	#u8274-5:hover
	{
		margin-right: 0px;
		width: 100%;
	}

	#u8281-5
	{
		z-index: 77;
		margin-top: 7px;
		width: 100%;
	}

	#u8281-5:hover
	{
		margin-right: 0px;
		margin-top: 7px;
		width: 100%;
	}

	#u8284
	{
		z-index: 82;
		padding-bottom: 12.494742729303368px;
		margin-top: 13px;
		width: 100%;
	}

	#pu8278-4
	{
		z-index: 83;
		width: 94.73%;
		margin-left: 2.64%;
	}

	#u8278-4
	{
		z-index: 83;
		margin-top: 14px;
		width: 90.17%;
	}

	#u9244
	{
		z-index: 91;
		width: 9.84%;
		left: 90.17%;
	}

	#u9269 .fluid_height_spacer,#u9244 .fluid_height_spacer
	{
		padding-bottom: 50%;
	}

	#u8287-4
	{
		z-index: 87;
		margin-top: 7px;
		width: 94.73%;
		margin-left: 2.64%;
	}

	#pu8294
	{
		z-index: 9;
		width: 100%;
	}

	#u8294
	{
		z-index: 9;
	}

	#u8294 .fluid_height_spacer
	{
		padding-bottom: 7.608695652173914%;
	}

	#u8283-5
	{
		z-index: 10;
		margin-top: 26px;
		width: 22.99%;
		left: 2.64%;
	}

	#u8283-5:hover
	{
		margin-top: 26px;
		width: 22.99%;
	}

	#u8279-5
	{
		z-index: 15;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 6px;
		width: 22.99%;
		left: 50.47%;
	}

	#u8279-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 14px;
		width: 22.99%;
		margin: 6px -10000px 0px 0%;
	}

	#u8279-3 > li:before
	{
		content: '';
		font-family: '__pstlst_btn_5';
		font-weight: 400;
	}

	#u8293-5
	{
		z-index: 20;
		margin-top: 6px;
		width: 22.99%;
		left: 74.38%;
	}

	#u8299-5
	{
		z-index: 25;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 26.56%;
	}

	#u8286-5
	{
		z-index: 30;
		margin-top: 6px;
		width: 22.99%;
		left: 2.64%;
	}

	#u8292-5
	{
		z-index: 35;
		margin-top: 6px;
		width: 22.99%;
		left: 26.56%;
	}

	#u8293-5:hover,#u8286-5:hover,#u8292-5:hover
	{
		margin-top: 6px;
		width: 22.99%;
	}

	#u8308-5
	{
		z-index: 40;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 50.47%;
	}

	#u8296-5
	{
		z-index: 45;
		min-height: 14px;
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		text-align: left;
		color: #999999;
		font-family: '__Source Han Sans CN_5';
		font-weight: 300;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		width: 22.99%;
		left: 74.38%;
	}

	#u8299-5:hover,#u8308-5:hover,#u8296-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 14px;
		width: 22.99%;
		margin: 26px -10000px 0px 0%;
	}

	#u8279-5:hover p,#u8279-5:hover ul,#u8279-5:hover li,#u8299-5:hover p,#u8299-5:hover ul,#u8299-5:hover li,#u8308-5:hover p,#u8308-5:hover ul,#u8308-5:hover li,#u8296-5:hover p,#u8296-5:hover ul,#u8296-5:hover li
	{
		color: #606060;
		visibility: inherit;
	}

	#u8299-3 > li:before,#u8308-3 > li:before,#u8296-3 > li:before
	{
		content: '';
		font-family: '__pstlst_btn_5';
		font-weight: 400;
	}

	#u10188
	{
		z-index: 5;
		padding-bottom: 10px;
		margin-top: 51px;
		width: 100%;
	}

	#u10188:hover
	{
		margin-top: 51px;
		width: 100%;
		margin-left: 0%;
	}

	#u10165
	{
		z-index: 6;
		margin-top: 10px;
		width: 3.11%;
		left: 48.45%;
	}

}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 492.62839945109835px;
		padding-bottom: 807.3716005489016px;
		max-width: 320px;
	}

	#ptop
	{
		width: 95%;
		margin-left: 2.5%;
	}

	#top
	{
		margin-right: -10000px;
		width: 22px;
		left: 48.69%;
	}

	#u8302
	{
		z-index: 27;
		margin-right: -10000px;
		margin-top: 8px;
	}

	#u8304
	{
		z-index: 32;
		background-image: url("../images/128back-u8304-fr.png?crc=4254805000");
		margin-right: -10000px;
		margin-top: 20px;
		width: 25.66%;
		left: 3.62%;
	}

	#u8304:hover
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 25.66%;
		margin-left: 0%;
	}

	#u8297-4
	{
		z-index: 28;
		margin-right: -10000px;
		margin-top: 20px;
		width: 55.93%;
		left: 35.53%;
	}

	#u10592
	{
		z-index: 59;
		height: 20px;
		background-color: #494949;
		border-radius: 0px 0px 10px 10px ;
		position: relative;
		width: 95%;
		margin-left: 2.5%;
	}

	#pu8280
	{
		z-index: 5;
		margin-top: 10px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8280
	{
		z-index: 5;
		background-image: url("../images/pstlst_topcover-u8280-fr.jpg?crc=505445272");
	}

	#u8280 .fluid_height_spacer
	{
		padding-bottom: 38.81578947368421%;
	}

	#u9269
	{
		z-index: 58;
		width: 17.77%;
		left: 82.24%;
	}

	#u8301
	{
		z-index: 33;
		padding-top: 8px;
		padding-bottom: 7.281387225552976px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8285-4
	{
		z-index: 34;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#pu8274-5
	{
		z-index: 38;
		margin-top: 4px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#u8274-5
	{
		z-index: 38;
		margin-right: -10000px;
		width: 44.83%;
	}

	#u8274-5:hover
	{
		margin-right: -10000px;
		width: 44.83%;
	}

	#u8281-5
	{
		z-index: 43;
		margin-right: -10000px;
		width: 44.83%;
		left: 55.18%;
	}

	#u8281-5:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 44.83%;
	}

	#u8284
	{
		z-index: 48;
		margin-top: 8px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8284_position_content
	{
		padding-bottom: 5px;
		width: 100%;
	}

	#pu8278-4
	{
		z-index: 49;
		width: 97.7%;
		margin-left: 2.31%;
	}

	#u8278-4
	{
		z-index: 49;
		margin-top: 8px;
		width: 97.65%;
	}

	#u9244
	{
		z-index: 57;
		width: 18.19%;
		left: 81.82%;
	}

	#u9269 .fluid_height_spacer,#u9244 .fluid_height_spacer
	{
		padding-bottom: 35.18518518518518%;
	}

	#u8287-4
	{
		z-index: 53;
		margin-top: 5px;
		width: 95.4%;
		margin-left: 2.31%;
	}

	#pu8294
	{
		z-index: 6;
		width: 95%;
		margin-left: 2.5%;
	}

	#u8294
	{
		z-index: 6;
	}

	#u8294 .fluid_height_spacer
	{
		padding-bottom: 13.486842105263158%;
	}

	#u8283-5
	{
		z-index: 7;
		margin-top: 20px;
		width: 42.77%;
		left: 2.31%;
	}

	#u8293-5
	{
		z-index: 12;
		margin-top: 20px;
		width: 42.77%;
		left: 54.94%;
	}

	#u8283-5:hover,#u8293-5:hover
	{
		margin-top: 20px;
		width: 42.77%;
	}

	#u8286-5
	{
		z-index: 17;
		margin-top: 5px;
		width: 42.77%;
		left: 2.31%;
	}

	#u8292-5
	{
		z-index: 22;
		margin-top: 5px;
		width: 42.77%;
		left: 54.94%;
	}

	#u8286-5:hover,#u8292-5:hover
	{
		margin-top: 5px;
		width: 42.77%;
	}

	#u10188
	{
		z-index: 3;
		padding-bottom: 9px;
		margin-top: 23px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u10188:hover
	{
		margin-top: 23px;
		width: 95%;
		margin-left: 2.5%;
	}

	#u10165
	{
		z-index: 4;
		margin-top: 9px;
		width: 7.24%;
		left: 46.06%;
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

