/*

*/

.version.post /* version checker */
{
	color: #0000EE;
	background-color: #CB29E1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1238px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#pu9951
{
	z-index: 87;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	width: 29.89%;
	margin-left: 1.96%;
}

#u9951
{
	z-index: 87;
	background-color: #494949;
	border-radius: 10px 10px 0px 0px ;
	padding-top: 32px;
	padding-bottom: 35px;
	position: relative;
	width: 100%;
}

#u9953
{
	z-index: 92;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 64px;
	position: relative;
	width: 41.84%;
	margin-left: 29.09%;
	background: transparent url("../images/128back.png?crc=381481760") no-repeat center center;
}

#u9953:hover
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 64px 64px 64px 0px ;
	min-height: 0px;
	width: 41.84%;
	margin: 0px 0px 0px 29.08496732026144%;
	background-size: 128px 128px;
}

#u9952-4
{
	z-index: 88;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 31px;
	position: relative;
	width: 86.61%;
	margin-left: 6.54%;
}

#u9945
{
	z-index: 75;
	background-color: #848484;
	padding-bottom: 22px;
	position: relative;
	width: 100%;
}

#u9956-4
{
	z-index: 93;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 86.61%;
	left: 6.87%;
}

#u9950
{
	z-index: 86;
	height: 14px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(52,52,52,0.95)),color-stop(100%, #494949));
	background: -webkit-linear-gradient(top,rgba(52,52,52,0.95) ,#494949 100%);
	background: linear-gradient(to bottom,rgba(52,52,52,0.95) ,#494949 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2343434, endColorstr=#FF494949, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2343434', endColorstr='#FF494949', GradientType=0)";
	position: relative;
	width: 100%;
}

#u9949
{
	z-index: 85;
	background-color: #494949;
	padding-bottom: 1px;
	position: relative;
	width: 100%;
}

#u10197
{
	z-index: 141;
	background-color: #343434;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 86.61%;
	left: 6.54%;
}

#u10197:hover
{
	background-color: #3C3C3C;
	min-height: 0px;
	width: 86.61%;
	margin: 1px -10000px 0px 0%;
}

#u9954-4
{
	z-index: 142;
	min-height: 20px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 100%;
}

#u9954-3
{
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 10px;
}

#u9955
{
	z-index: 146;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 10.57%;
	left: 89.44%;
	background: transparent url("../images/arrow_right.svg?crc=4197244498") no-repeat center center;
	background-size: contain;
}

#u9946
{
	z-index: 76;
	background-color: #494949;
	border-radius: 0px 0px 10px 10px ;
	padding-top: 19px;
	padding-bottom: 17.449999999999818px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u9947-4
{
	z-index: 77;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	width: 86.61%;
	margin-left: 6.87%;
}

#u9948-4
{
	z-index: 81;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-top: 9px;
	position: relative;
	width: 86.61%;
	margin-left: 6.87%;
}

#pu10191
{
	z-index: 139;
	height: 0px;
	padding-bottom: 40px;
	margin-right: -10000px;
	margin-top: 546px;
	width: 9.97%;
}

#u10191
{
	height: 40px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #7F7F7F;
	border-radius: 10px;
	position: relative;
	left: -50%;
	margin-left: 51.00000000000001px;
	width: 100%;
	max-width: 102px;
}

#u10191:hover
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #9B8484;
	height: 40px;
	min-height: 0px;
	width: 100%;
	max-width: 102px;
	margin: 0px 0px 0px 51px;
}

#u10191-wrapper
{
	position: fixed;
	top: 546px;
	z-index: 139;
	left: 50%;
	margin-left: -390px;
	width: 9.97%;
	max-width: 102px;
}

#u10192
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	left: -50%;
	margin-left: 10px;
	width: 100%;
	max-width: 20px;
	background: transparent url("../images/arrow_up.svg?crc=3778754956") no-repeat center center;
	background-size: contain;
}

.nosvg #u10192
{
	background-image: url('../images/arrow_up_poster_u10106.png?crc=18976162');
}

#u10192-wrapper
{
	position: fixed;
	top: 556px;
	z-index: 140;
	left: 50%;
	margin-left: -349px;
	width: 1.96%;
	max-width: 20px;
}

#ptop
{
	z-index: 3;
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 2.15%;
	margin-left: 33.01%;
}

#top
{
	position: relative;
}

#review
{
	margin-top: 862px;
	position: relative;
}

#pu8882
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 40px;
	width: 62.9%;
	margin-left: 35.16%;
}

#u8882
{
	z-index: 2;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	width: 100%;
}

#u8882_position_content
{
	width: 100%;
}

#pu8685
{
	z-index: 66;
	width: 97.37%;
	margin-left: 2.64%;
}

#u8685
{
	z-index: 66;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 9.57%;
	left: 87.72%;
	background: transparent url("../images/strip_blk.svg?crc=3960528801") no-repeat center center;
	background-size: contain;
}

.nosvg #u8685
{
	background-image: url('../images/strip_blk_poster_u10081.png?crc=4288764295');
}

#u8685 .fluid_height_spacer
{
	padding-bottom: 50%;
}

#u8883-4
{
	z-index: 67;
	min-height: 29px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 87.72%;
}

#u8884-4
{
	z-index: 71;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	font-size: 14px;
	color: #000000;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	width: 97.29%;
}

#u10097
{
	z-index: 138;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 11.01%;
	left: 89%;
	background: transparent url("../images/read_only.svg?crc=320890261") no-repeat left top;
	background-size: contain;
}

.nosvg #u10097
{
	background-image: url('../images/read_only_poster_u8352.png?crc=4003824141');
}

#u8885-14
{
	z-index: 52;
	min-height: 359px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	width: 100%;
}

#u8885-13
{
	line-height: 30px;
	font-size: 16px;
	text-align: justify;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 12px;
	margin-right: 12px;
}

#u8886
{
	z-index: 43;
	background-color: #848484;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	margin-top: 17px;
	position: relative;
	width: 100%;
}

#u8887-4
{
	z-index: 44;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	color: #FAFAFA;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 70.66%;
	left: 2.64%;
}

#u8888-4
{
	z-index: 48;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: right;
	color: #FAFAFA;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 23.14%;
	left: 74.23%;
}

#pu10054
{
	z-index: 97;
	width: 100%;
}

#u10054
{
	z-index: 97;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left top;
}

#u10054 .fluid_height_spacer
{
	padding-bottom: 7.608695652173914%;
}

#u10055-5
{
	z-index: 98;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 2.64%;
}

#u10055-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u10056-5
{
	z-index: 103;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 50.47%;
}

#u10057-5
{
	z-index: 108;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 74.38%;
}

#u10058-5
{
	z-index: 113;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 26.56%;
}

#u10059-5
{
	z-index: 118;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 2.64%;
}

#u10059-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u10060-5
{
	z-index: 123;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 22.99%;
	left: 26.56%;
}

#u10056-5:hover,#u10057-5:hover,#u10059-5:hover,#u10060-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 22.99%;
	margin: 6px -10000px 0px 0%;
}

#u10060-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u10061-5
{
	z-index: 128;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 50.47%;
}

#u10062-5
{
	z-index: 133;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #999999;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 22.99%;
	left: 74.38%;
}

#u10055-5:hover,#u10058-5:hover,#u10061-5:hover,#u10062-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 22.99%;
	margin: 26px -10000px 0px 0%;
}

#u10055-5:hover p,#u10055-5:hover ul,#u10055-5:hover li,#u10056-5:hover p,#u10056-5:hover ul,#u10056-5:hover li,#u10057-5:hover p,#u10057-5:hover ul,#u10057-5:hover li,#u10058-5:hover p,#u10058-5:hover ul,#u10058-5:hover li,#u10059-5:hover p,#u10059-5:hover ul,#u10059-5:hover li,#u10060-5:hover p,#u10060-5:hover ul,#u10060-5:hover li,#u10061-5:hover p,#u10061-5:hover ul,#u10061-5:hover li,#u10062-5:hover p,#u10062-5:hover ul,#u10062-5:hover li
{
	color: #606060;
	visibility: inherit;
}

#u10058-3 > li:before,#u10061-3 > li:before,#u10062-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8679
{
	z-index: 4;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 21px;
	padding-bottom: 17.050000000000068px;
	margin-top: 12px;
	position: relative;
	width: 100%;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left center;
}

#pu8680-4
{
	z-index: 5;
	width: 94.73%;
	margin-left: 2.64%;
}

#u8680-4
{
	z-index: 5;
	min-height: 26px;
	background-color: transparent;
	font-size: 22px;
	line-height: 26px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u10224
{
	z-index: 161;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #28C8E1;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	width: 26.23%;
	left: 73.78%;
}

#u10224:hover
{
	background-color: #FFD23A;
	min-height: 0px;
	width: 26.23%;
	margin: 0px -10000px 0px 0%;
}

#u8682-5
{
	z-index: 168;
	min-height: 22px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 93.75%;
	left: 3.13%;
}

#u8682-5:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 93.75%;
	margin: 2px -10000px 0px 0%;
}

#u8682-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u10230
{
	z-index: 162;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #FFB93A;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	width: 26.23%;
	left: 44.76%;
}

#u10230:hover
{
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-color: #28E1E1;
	min-height: 0px;
	width: 26.23%;
	margin: 0px -10000px 0px 0%;
}

#u8681-5
{
	z-index: 163;
	min-height: 22px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 93.75%;
	left: 3.13%;
}

#u10057-3 > li:before,#u8681-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u10209
{
	z-index: 147;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #7F7F7F;
	border-radius: 10px;
	padding-bottom: 17px;
	margin-top: 17px;
	position: relative;
	width: 94.73%;
	margin-left: 2.64%;
}

#u10209:hover
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #9B8484;
	min-height: 0px;
	width: 94.73%;
	margin: 17px 0px 0px 2.639751552795031%;
}

#u8683-4
{
	z-index: 148;
	min-height: 31px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 100%;
}

#u8683-3
{
	line-height: 31px;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 30px;
	margin-right: 30px;
}

#u8684
{
	z-index: 152;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 4.6%;
	left: 95.41%;
	background: transparent url("../images/arrow_right.svg?crc=4197244498") no-repeat center center;
	background-size: contain;
}

.nosvg #u9955,.nosvg #u8684
{
	background-image: url('../images/arrow_right_poster_u10121.png?crc=4142778936');
}

#u9955 .fluid_height_spacer,#u8684 .fluid_height_spacer
{
	padding-bottom: 71.42857142857143%;
}

#u8698
{
	z-index: 9;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 12px;
	margin-top: 12px;
	position: relative;
	width: 100%;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left center;
}

#u8699-4
{
	z-index: 10;
	min-height: 29px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 94.73%;
	left: 2.64%;
}

#u8701
{
	z-index: 14;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 9.01%;
	left: 2.64%;
	background: transparent url("../images/pinn.jpg?crc=327430199") no-repeat left top;
}

#u8703-4
{
	z-index: 15;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 78.11%;
	left: 19.1%;
}

#u8702-4
{
	z-index: 19;
	min-height: 18px;
	background-color: #A9217A;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 5.13%;
	left: 13.05%;
}

#u8704-5
{
	z-index: 23;
	min-height: 34px;
	background-color: transparent;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	width: 84.32%;
	left: 13.05%;
}

#u8704-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8704
{
	line-height: 17px;
}

#u8704-2
{
	font-size: 15px;
	line-height: 18px;
}

#u8710
{
	z-index: 159;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 10.72%;
	left: 89.29%;
	background: transparent url("../images/beta_edi.svg?crc=3956733161") no-repeat left top;
	background-size: contain;
}

#u8705
{
	z-index: 28;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.07),0px 0px 5px rgba(0,0,0,0.07);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-bottom: 12px;
	margin-top: 11px;
	position: relative;
	width: 100%;
	background: transparent url("../images/pstlst_bg_typeb.jpg?crc=3901740563") repeat left center;
}

#pu8707-5
{
	z-index: 29;
	margin-right: -10000px;
	margin-top: 12px;
	width: 76.25%;
	margin-left: 2.64%;
}

#u8707-5
{
	z-index: 29;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 8px;
	position: relative;
	width: 100%;
}

#u8707-4
{
	line-height: 18px;
	font-size: 15px;
	text-align: left;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 8px;
	margin-right: 8px;
}

#u8709-4
{
	z-index: 38;
	min-height: 57px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 8px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#u8709-3
{
	font-size: 15px;
	line-height: 18px;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 8px;
	margin-right: 8px;
}

#pu8708-4
{
	z-index: 34;
	margin-right: -10000px;
	width: 19.1%;
	margin-left: 80.91%;
}

#u8708-4
{
	z-index: 34;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 8px;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 86.18%;
}

#u10221
{
	z-index: 153;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #28C8E1;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	width: 86.18%;
}

#u10221:hover
{
	background-color: #FFD23A;
	min-height: 0px;
	width: 86.18%;
	margin: 42px -10000px 0px 0%;
}

#u8706-5
{
	z-index: 154;
	min-height: 22px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 79.25%;
	left: 10.38%;
}

#u8706-5:hover
{
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79.25%;
	margin: 17px -10000px 0px 0%;
}

#u8706-4
{
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Source Han Sans CN_5';
	font-weight: 300;
	margin-left: 2px;
}

#u10056-3 > li:before,#u8706-3 > li:before
{
	content: '';
	font-family: '__pstlst_btn_5';
	font-weight: 400;
}

#u8711
{
	z-index: 160;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	width: 56.1%;
	left: 43.91%;
	background: transparent url("../images/beta_edi.svg?crc=3956733161") no-repeat left top;
	background-size: contain;
}

.nosvg #u8710,.nosvg #u8711
{
	background-image: url('../images/beta_edi_poster_u8719.png?crc=449012722');
}

#u9953 .fluid_height_spacer,#u10192 .fluid_height_spacer,#u10097 .fluid_height_spacer,#u8701 .fluid_height_spacer,#u8710 .fluid_height_spacer,#u8711 .fluid_height_spacer
{
	padding-bottom: 100%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1299px);
}

.html
{
	background-color: #F0F0F0;
}

body
{
	position: relative;
	min-width: 1024px;
}

@font-face
{
	font-family: '__pstlst_btn_5';
	src: url('../fonts/pstlst_btn.eot');
	src: local('☺'), url('../fonts/pstlst_btn.woff') format('woff'), url('../fonts/pstlst_btn.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-normal.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-normal1.woff') format('woff'), url('../fonts/sourcehansanscn-normal.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Source Han Sans CN_5';
	src: url('../fonts/sourcehansanscn-medium.eot');
	src: local('☺'), url('../fonts/sourcehansanscn-medium.woff') format('woff'), url('../fonts/sourcehansanscn-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

